table td {
  vertical-align: middle !important;
}
.wrapper {
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;


		&:focus {
		  z-index: 2;
		}
	}

	input[type="email"] {
	  margin-bottom: -1px;
	  border-bottom-left-radius: 0;
	  border-bottom-right-radius: 0;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-top-left-radius: 0;
	  border-top-right-radius: 0;
	}
}
.not-published {
  font-style: italic;
  opacity: 0.8;
}
.as-sortable-item, .as-sortable-placeholder {
    display: table-row;
}
#sidebar-wrapper {
  z-index: 0;
}
.alertify-logs {
  width: 350px;
}
.CodeMirror {
  height: 500px;
}
.assets-block {
  a.btn.add-asset {
    border: none;
    border-radius: 3px;
    padding: 6px 12px;
    margin-right: 0;
    &:hover, &:focus {
      background-color: #3071a9;
    }
  }
  .table-responsive {
    background: #fff;
    color: #333333;
  }
}
.nav-tabs li a {
  cursor: pointer;
}
.widget .widget-header table i {
  margin-right: 0px;
}
